# 数据存储

## 文件存储

### TXT文本存储

In [1]:
import requests
from pyquery import PyQuery as pq
headers = {
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36 Edg/88.0.705.50",
    "http": "http://119.28.155.202:9999",
    "https": "https://58.253.159.136:9999"
}
url = "https://www.zhihu.com/explore"
html = requests.get(url, headers=headers).text
doc = pq(html)
items = doc('div .ExploreCollectionCard-contentItem').items()
for i in items:
    title = i.find('.ExploreCollectionCard-contentTitle').text()
    content = pq(i.find('a').attr.href, headers=headers).find('div .RichContent-inner').text()
    name = i.find('.ExploreCollectionCard-contentExcerpt').text().split('：')[0]
    f = open('D://Python/给爷爬/网络爬虫笔记系列/Section_5_DataStorage/explore.txt', 'a', encoding='utf-8')
    f.write("=" * 100 + "\n")
    f.write("\n".join([title, name, content]))
    f.close()
print("写入完成")

写入完成

* 写入方式
    * a： 写入的追加模式， 追加模式，对已存在的文件，指针会放在文件的结尾处。
    * r： 只读的方式
    * w： 写入模式， 会覆盖
    * 加上b，表示二进制书写
    * 加上+， 表示读写

### Json格式

In [2]:
import json
import os
data = [{
    "name": "李斯茂",
    "age": 18,
    "学校": "湖北中医药大学"
}]
os.chdir("D://Python/给爷爬/网络爬虫笔记系列/Section_5_DataStorage")
with open("TEST.json", 'w', encoding='utf-8') as f:
    f.write(json.dumps(data, indent=2, ensure_ascii=False))
print("写入完成")

写入完成

In [3]:
f = open("TEST.json")
text = f.read()
string = json.loads(text)
print(string)

[{'name': '李斯茂', 'age': 18, '学校': '湖北中医药大学'}]

* indent 表示缩进
* ensure_ascii 表示是否为ascii模式
* dumps 转化为字符串，然后写入文件

### CSV格式

In [4]:
import csv

with open("test1.csv", 'w') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['id','name','age'])
    writer.writerow(['01','Pual', 15])
    writer.writerow(['02','Tom',18])
    writer.writerow(['03','Merry',17])
print("写入完成")

写入完成

In [5]:
with open("test2.csv", 'w') as csvfile:
    writer = csv.writer(csvfile, delimiter=" ")
    writer.writerow(['id','name','age'])
    writer.writerow(['01','Pual', 15])
    writer.writerow(['02','Tom',18])
    writer.writerow(['03','Merry',17])
print("写入完成")

写入完成

* 更改间隔符号

### 字典类型写入

In [6]:
import csv

fieldnames = ['id', 'name', 'age']
with open('data.csv', 'w', newline='') as f:
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({'id': 10080, 'name': "李斯茂", 'age': 18})
    writer.writerow({'id': 10081, 'name': "黄星杰", 'age': 18})
    writer.writerow({'id': 10082, 'name': "欧拉", 'age': 15})
    writer.writerow({'id': 10083, 'name': "张心雨", 'age': 18})
print("写入完成")

写入完成

In [7]:
with open('data.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['id', 'name', 'age']
['10080', '李斯茂', '18']
['10081', '黄星杰', '18']
['10082', '欧拉', '15']
['10083', '张心雨', '18']

* 使用reader直接读取文件，打印出来
* 使用newline=''表示不空行

In [8]:
import pandas as pd
print(pd.read_csv('data.csv'))

      id name  age
0  10080  李斯茂   18
1  10081  黄星杰   18
2  10082   欧拉   15
3  10083  张心雨   18

## 关系型数据的存储

### mysql存储

In [9]:
import pymysql

# db = pymysql.connect('localhost', 'mushroom', 'hxj20020323')
# cursor = db.cursor()
# cursor.execute('SELECT VERSION()')
# data = cursor.fetchone()
# print("Version: {}".format(data))
# cursor.execute('CREATE DATABASE spider DEFAULT CHARACTER SET utf8')
# db.close()
# print("完成")

In [10]:
# 建表
sql = '''
CREATE TABLE IF NOT EXISTS students (id Varchar(255) NOT NULL, name Varchar(255) NOT NULL, age INT NOT NULL, PRIMARY KEY (id))
'''
db = pymysql.connect('localhost', 'mushroom', 'hxj20020323', 'spider')
cursor = db.cursor()
try:
    cursor.execute(sql)
    print("完成")
except:
    db.rollback()

完成

In [11]:
id = '20120001'
name = "lisimao"
age = 15
db = pymysql.connect('localhost', 'mushroom', 'hxj20020323', 'spider')
sql = '''
INSERT INTO students(id, name, age) value(%s, %s, %s)
'''
cursor = db.cursor()
try:
    cursor.execute(sql, (id, name, age)) # 直接使用这种方式填入数据
    db.commit()
    print("成功！")
except:
    db.rollback()
    print("EOFError")

成功！

![image.png](https://i.loli.net/2021/02/02/Klit9Hso7zNGjAy.png)

In [12]:
data = {
    'id': '20120002',
    'name': 'ajay',
    'age': 12
}
table = 'students'
keys = ', '.join(data.keys())
values = ', '.join(['%s'] * len(data))
sql = 'INSERT INTO {table}({key}) VALUES ({values})'.format(table=table, key=keys, values=values)
try:
    if cursor.execute(sql, tuple(data.values())):
        print('Successfully')
        db.commit()
except:
    print("error")
    db.rollback()

error

In [13]:
data.values()

dict_values(['20120002', 'ajay', 12])

In [14]:
db = pymysql.connect('localhost', 'mushroom', 'hxj20020323', 'spider')
cursor = db.cursor() # 少了个Mysql启动类!!
sql = 'UPDATE students SET age = %s WHERE name = "%s"'
try:
    cursor.execute(sql, (15, 'ajay'))
    print("Update successfully!")
    db.commit()
except:
    print("Update failure")
    db.rollback()
db.close()
print("TEST")

Update successfully!
TEST

In [15]:
db = pymysql.connect('localhost', 'mushroom', 'hxj20020323', 'spider')
data = {
    'id': '20120001',
    'name': 'lisimao',
    'age': 4,
}
cursor = db.cursor()
table = 'students'
key = ", ".join(data.keys())
values = ", ".join(["%s"] * len(data))
sql = 'INSERT INTO {table}({key}) VALUES({values}) ON DUPLICATE KEY UPDATE '.format(table=table, key=keys, values=values)
update = ', '.join(["{key} = %s".format(key=key) for key in data.keys()])
sql += update
try:
    cursor.execute(sql, tuple(data.values()) * 2)
    print("Update successfully!")
    db.commit()
except:
    print("Update Error!")
    db.rollback()
db.close()

Update successfully!

* 注意传入的是元组，一定不要弄混了
* 记得多分析在写

In [16]:
data = {
    'id': '20120004',
    'name': 'Euler',
    'age': 76
}
db = pymysql.connect('localhost', 'mushroom', 'hxj20020323', 'spider')
cursor = db.cursor()

keys = ', '.join(data.keys())
values = ', '.join(["%s"] * len(data))
table = 'students'

sql = 'INSERT INTO {table}({key}) VALUES({value}) ON DUPLICATE KEY UPDATE'.format(table=table, key=keys, value=values)
update = ', '.join(" {key} = %s".format(key=key) for key in data)
sql += update

try:
    cursor.execute(sql, tuple(data.values()) * 2)
    print("Successfully!")
    db.commit()
except:
    db.rollback()
    print("Error")
db.close()

Successfully!

In [17]:
# 删除
table = 'students'
condition = 'age < 18'

db = pymysql.connect('localhost', 'mushroom', 'hxj20020323', 'spider')
cursor = db.cursor()

sql = 'DELETE FROM {table} WHERE {condition}'.format(table=table, condition=condition)
try:
    cursor.execute(sql)
    db.commit()
    print("Delete successfully!")
except:
    db.rollback()
    print("Error")
db.close()

Delete successfully!

In [18]:
# 查询数据

# 第一类直接获取所有返回的信息，也就是使用fetchall函数
db = pymysql.connect('localhost', 'mushroom', 'hxj20020323', 'spider')
cursor = db.cursor()

sql = 'SELECT * FROM students WHERE age >= 70'

try:
    cursor.execute(sql)
    rows = cursor.rowcount
    data = cursor.fetchall()
    data = list(map(list, data))
    print("Fetched data:")
    for elem in data:
        print(elem)
    print("The number of row: {}".format(rows))
except:
    db.rollback()

Fetched data:
['20120003', 'Pythagoras', 76]
['20120004', 'Euler', 76]
The number of row: 2

In [19]:

# 第二类一个一个的拿取然后一个一个输出，节省内存，延长时间

try:
    cursor.execute(sql)
    rows = cursor.rowcount
    print("Fetched data:")
    while rows:
        print(list(cursor.fetchone()))
        rows -= 1
except:
    db.rollback()
# 一个一个打印， 缓解了大表获取的时候出现的内存过大的情况

Fetched data:
['20120003', 'Pythagoras', 76]
['20120004', 'Euler', 76]


### MongoDB

In [20]:
# 导包
import pymongo

In [21]:
client = pymongo.MongoClient(host='localhost', port=27017)

In [26]:
# 构建连接到database和collection
db = client['test']
collections = db['students']

In [38]:

student = {
    'id': '20120001',
    'name': 'lisimao',
    'gender': 'man',
    'age': 18
}

result = collections.insert_one(student)

print(result.inserted_id)
# 返回唯一的_id码

601b7822bab18138f16f2e39

In [37]:
studentOne = {
    'id': '20120002',
    'name': 'Euler',
    'gender': 'male',
    'age': 76,
}

studentTwo = {
    'id': '20120003',
    'name': 'Polar',
    'gender': 'male',
    'age': 76
}

result = collections.insert_many([studentOne, studentTwo])
print(result.inserted_ids)

[ObjectId('601b781cbab18138f16f2e37'), ObjectId('601b781cbab18138f16f2e38')]

In [41]:
from pprint import pprint
result = collections.find_one({'name': 'Euler'})
pprint(result)

{'_id': ObjectId('601b779bbab18138f16f2e2e'),
 'age': 76,
 'gender': 'male',
 'id': '20120002',
 'name': 'Euler'}

In [43]:
from bson import ObjectId

obid = ObjectId('601b779bbab18138f16f2e2e')
result = collections.find_one({'_id': obid})
print(result)

{'_id': ObjectId('601b779bbab18138f16f2e2e'), 'id': '20120002', 'name': 'Euler', 'gender': 'male', 'age': 76}

In [57]:
# 如果是多个数据返回一个构造器
student = {
    'id': '20120005',
    'name': 'Pig',
    'gender': 'male',
    'age': 20
}

results = collections.find({'age': 20})
for people in results:
    print(people)

{'_id': ObjectId('601b8949bab18138f16f2e3a'), 'id': '20120004', 'name': 'Cat', 'gender': 'male', 'age': 20}
{'_id': ObjectId('601b8958bab18138f16f2e3b'), 'id': '20120005', 'name': 'Pig', 'gender': 'male', 'age': 20}

In [63]:
results = collections.find({'age': {'$gt': 75}})
for people in results:
    print(people)

# $gt大于那个年龄

{'_id': ObjectId('601b779bbab18138f16f2e2e'), 'id': '20120002', 'name': 'Euler', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b779bbab18138f16f2e2f'), 'id': '20120003', 'name': 'Polar', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b77a2bab18138f16f2e30'), 'id': '20120002', 'name': 'Euler', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b77a2bab18138f16f2e31'), 'id': '20120003', 'name': 'Polar', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b77a7bab18138f16f2e32'), 'id': '20120002', 'name': 'Euler', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b77a7bab18138f16f2e33'), 'id': '20120003', 'name': 'Polar', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b77aabab18138f16f2e34'), 'id': '20120002', 'name': 'Euler', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b77aabab18138f16f2e35'), 'id': '20120003', 'name': 'Polar', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b781cbab18138f16f2e37'), 'id': '20120002', 'name': 'Euler', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b781cbab18138f16f2e38'), 'id': '20120003', 'name': 'Polar', 'gender': 'male', 'age': 76}


![image.png](https://i.loli.net/2021/02/04/sS1dZVcGyrueaNF.png)
![image.png](https://i.loli.net/2021/02/04/R16z8glTNdDenBA.png)

In [68]:
# 计数
count = collections.find().count()
print(count)

19

<ipython-input-68-f715a3041881>:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  count = collections.find().count()

In [70]:
count = collections.find({'age': 20}).count()
print(count)

2

<ipython-input-70-c1dbf15add7e>:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  count = collections.find({'age': 20}).count()

In [72]:
count = collections.count_documents({'age': 20})
print(count)

2

In [74]:
result = collections.find().sort('name', pymongo.ASCENDING)
for people in result:
    print(people['name'])

Cat
Euler
Euler
Euler
Euler
Euler
Pig
Polar
Polar
Polar
Polar
Polar
lisimao
lisimao
lisimao
lisimao
lisimao
lisimao
lisimao

In [84]:
# 使用skip函数跳过
result = collections.find().sort('name', pymongo.ASCENDING).skip(10)
for people in result:
    print(people['age'])

76
76
18
18
18
18
18
18
18
0

In [86]:
# 数量过大的时候需要记录下objectid来限定所要输出的内容
result = collections.find({'_id': {'$gt': ObjectId('601b77a7bab18138f16f2e32')}})
for people in result:
    print(people)

{'_id': ObjectId('601b77a7bab18138f16f2e33'), 'id': '20120003', 'name': 'Polar', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b77aabab18138f16f2e34'), 'id': '20120002', 'name': 'Euler', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b77aabab18138f16f2e35'), 'id': '20120003', 'name': 'Polar', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b77afbab18138f16f2e36'), 'id': '20120001', 'name': 'lisimao', 'gender': 'man', 'age': 18}
{'_id': ObjectId('601b781cbab18138f16f2e37'), 'id': '20120002', 'name': 'Euler', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b781cbab18138f16f2e38'), 'id': '20120003', 'name': 'Polar', 'gender': 'male', 'age': 76}
{'_id': ObjectId('601b7822bab18138f16f2e39'), 'id': '20120001', 'name': 'lisimao', 'gender': 'man', 'age': 18}
{'_id': ObjectId('601b8949bab18138f16f2e3a'), 'id': '20120004', 'name': 'Cat', 'gender': 'male', 'age': 20}
{'_id': ObjectId('601b8958bab18138f16f2e3b'), 'id': '20120005', 'name': 'Pig', 'gender': 'male', 'age': 20}

In [96]:
student = collections.find_one({'name': 'Cat'})
student['age'] = 76
result = collections.update({'name': 'Cat'}, student)

# 条件放在前面，被修改的对象放在后面

<ipython-input-96-58b0d04ccfda>:3: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  result = collections.update({'name': 'Cat'}, student)

In [99]:
student = collections.find_one({'name': 'Cat'})
pprint(student)
pprint(result)
# 这表示修改成功， nModified：表示被修改的数据个数

{'_id': ObjectId('601b8949bab18138f16f2e3a'),
 'age': 76,
 'gender': 'male',
 'id': '20120004',
 'name': 'Cat'}
{'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}

In [103]:
condition = {'name': 'lisimao'}
student = collections.find_one(condition)
student['age'] = 1900
result = collections.update_one(condition, {'$set': student})
print(result)
print(result.matched_count, result.modified_count)

<pymongo.results.UpdateResult object at 0x0000028F9913CA80>
1 0

In [106]:
condition = {'age': {'$gte': 20}}
result = collections.update_many(condition, {'$inc': {'age': 1}})
print(result)
print(result.matched_count, result.modified_count)

<pymongo.results.UpdateResult object at 0x0000028F99668B80>
13 13

In [114]:
# 删除数据
req = collections.delete_many({'name': 'lisimao'})
print(req.deleted_count)

0

In [115]:
# redis

In [120]:
from redis import StrictRedis
red = StrictRedis(host='localhost', port=6379, password="hxj...")
red.set('name', 'cat')
print(red.get('name'))

# 可怕， redis后面再看再学

b'cat'