## Pandas入门
> 我们对pandas的引入这样的规定，
```
import pandas as pd
from pandas imort Series,DataFrame
```
* 我们一般这么写pandas的引入。注意这是规定，为了方便你的理解。

### pandas的数据结构介绍：

#### Series
> Series是一类类似于一维数组的对象，它是由一组数据(各种numpy数据类型)以及一组与之相关联的数据标签，仅由一组数据即可产生最简单的Series

In [22]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [23]:
ser = Series(['a','b','c','d'])
ser.index = ('first','secend','third','fourth')
ser

first     a
secend    b
third     c
fourth    d
dtype: object

In [24]:
# 使用values函数可以实现值的访问
ser.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [25]:
# 使用index函数可以实现对于index的调用
ser.index

Index(['first', 'secend', 'third', 'fourth'], dtype='object')

In [26]:
ser_number = Series([1,2,3,-5,6,7],index=['a','b','c','d','e','f'])
ser_number

a    1
b    2
c    3
d   -5
e    6
f    7
dtype: int64

In [27]:
# 实现对特定元素的读取
# 对于元素的提取我们同样需要使用中括号给函数限定范围。以用来适合用。
ser_number[ser_number.values >= 0]

a    1
b    2
c    3
e    6
f    7
dtype: int64

In [28]:
# series数据类型之间的运算。
ser_number ** 20

a                    1
b              1048576
c           3486784401
d       95367431640625
e     3656158440062976
f    79792266297612001
dtype: int64

In [29]:
# 我们同样可以使用字典直接导入，为一个series
# 同样我们可以使用很多numpy中的函数。
# 可以说是非常的nice

### Dataframe

In [30]:
babyname = "c:\\users\\HP2\\PycharmProjects\\Python\\pydata-book-2nd-edition\\datasets\\babynames\\yob1880.txt"
open(babyname,encoding='UTF-8').readlines()

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\HP2\\PycharmProjects\\Python\\pydata-book-2nd-edition\\datasets\\babynames\\yob1880.txt'

In [ ]:
data = {'name':['huangxingjie','lisimao','oulaoula'],
        'ages':[18,19,77],
        'grene':['boy','boy','girl'],
       }
# 可以在构建dataframe内部应用这个index实现对每一个初始index赋值。
dataframe1 = DataFrame(data,index=['student1','student2','student3'])
dataframe1

In [ ]:
dataframe1['ages'][dataframe1['ages'] >= 19]

In [ ]:
# dataframe的切片任然可以使用只不过这里的是对列元素的切片。
dataframe1[:2]

In [ ]:
# 使用del语句可以指定列的删除。

In [ ]:
# 也可以使用转置方法实现另一个demension 的切片。

#### 可以输入给DataFrame构造器的数据
|类型|说明|
|:-|:-|
|二维ndarry|数据矩阵，还可以传入相关行列标|
|由数组列表元组构成的字典|每个序列将变成dataframe的一列，且每列的长度必须相同|
|numpy结构化/记录数组|类似于由数组构成的字典|
|由Series构成的字典|每个series将成为一列，如果没有显式索引，我们将把每一个索引叠加后成为统一的索引|
|由字典构成的字典|每个内层的字典为单独的一列|
|字典或者Series列表|各项将成为dataframe的一行，字典的key或者series的索引将合并为行标|
|由元组或者列表构成的列表|类似于二维adarry|
|另外一个dataframe|该dataframe的索引将继续被使用|
|numpy的maskedarray|类似于二维的nadarry，除了掩盖码会在dataframe中呈现为NaN的奇怪值|

### 索引对象
> dataframe的索引不可更改

#### pandas中主要的index对象：
|类|说明|
|:-|:-|
|Index|最泛化的Index对象，将轴标签表示为一个由Python对象组成的Numpy数组
|Index64Index|针对整数的特殊的index|
|MultiIndex|”层次化“索引对象，表示单个轴上的多层索引，可以看作由元组组成的数组|
|DatetimeIndex|储存纳秒级别的时间戳(用Numpy的datetime64类型表示)|
|PeriodIndex|针对Period数据(时间间隔)的特殊Index|

#### Index的方法和属性
|方法|说明|
|:-|:-|
|append|连接另外一个index对象，产生一个新的index|
|diff|计算差集|
|intersection|计算交集(这里可以针对一个数据集合之中的一些数据的feature_name进行筛选，从而得到一个比较共有的一个数据类，借由这个作出分析，或者是deepmind)|
|union|计算交集|
|# isin|计算一个指示各个值是否包含于参数集合中的布尔型数组|

##### 一些奇怪的算法

In [ ]:
obj  = Series([1,2,3,4,5,6],index=('a','b','c','d','e','f'),dtype='float')
index_obj = obj.index
# 可以发现我们使用的index是一个类似于列表的形式，我们甚至可以使用切片对这个进行处理。

In [ ]:
# 想一下，我们可以改变我们的index嘛我们试一下可不可以改变
# index_obj[1] = 'c'
# 所以我们不可以易更改我们的index值

In [ ]:
index = pd.Index(np.arange(3))
obj2 = Series([1,2,3],index=index)
obj2.index is index
# 这里的is语句我们可以直接使用来用以=判断是否这两个东西是完全一样的东西再来一个东西

In [ ]:
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([1,2,3,4,5])
arr1 is arr2
# 由此得之，我们的arr1与arr2完全不是一个东西，而是虽然相同但是其内核完全不同的东西，即所谓他们的地址不同，不是一个东西·

##### 针对于index的操作其实是为了让我们更加容易的找到我们所需要的数据名称，需要的是什么样的，什么是共有的数据

In [ ]:
# 我们也可以实现对于index 的重构，虽然无法对某一个index进行改变

In [ ]:
obj2 = obj2.reindex(['a','c','b'])
obj2.index

In [ ]:
obj3 = Series(['blue','purple','yellow'],index=[0,2,4])
obj3.reindex(range(6),method='ffill')

### reindex的(插值)method选项
|参数|说明|
|:-|:-|
|ffill或者pad|前向填充(或者搬运)值|
|bfill或者##backfill|向后填充或者搬运|

In [ ]:
frame = DataFrame(np.arange(9).reshape(3,3),index=['a','c','d'],columns=['Ohio','Texas','California'])

In [ ]:
frame.reindex(['a','b','c','d'])
frame

In [ ]:
states = ['Ohio','Utah','California']
# 可以发现这里的列向有一列啥数据都没有，所以我们计算机给他附上NaN的值，代表它啥也不是。
frame.reindex(columns=states)

In [ ]:
# 当然我们还哦可以使用这个ix函数来直接给index和column赋值老改变数据类型

##### reindex函数的参数
|参数|说明|
|:-|:-|
|index|用作于输入数据的index索引值的确切数值|
|method|插值(填充)方式|
|fill_value|在重新索引的过程中，需要引入缺失值时的替代值|
|limit|向前或者向后填充时的最大填充量|
|level|在MultiIndex的指定级别上匹配简单的索引，否则取子集|
|copy|默认为True，无论如何都赋值，如果为False，则此时新旧不相等就停止复制|

#### reindex函数的一些内涵：

In [ ]:
test_reindex = Series([1,2,3,4,5],index=['a','b','c','d','e'])
new_index = ['a','b','c','d','e','z']
test_reindex.reindex(index=new_index)
# 看到我们更新之后发现数据多了一行而且是空的

In [ ]:
# 我们来给那个值附上一个值
test_reindex.reindex(fill_value=1,index=new_index)

In [ ]:
test_reindex_limit = Series(['a','b','c','d'],index=[0,2,4,8])

#### 丢弃指定轴上的项
> 使用的是drop函数进行操作

In [ ]:
obj4 = Series(np.arange(5.),index=['a','b','c','d','e'])
# 可以这么使用，我们在drop函数里面加上我们的index索引值，或者在drop里面直接加上所选index列表切片就可以实现对指定的东西的切割提取

In [ ]:
obj4.drop(obj4.index[1:4])
# 非常有意思，花里胡商的

In [ ]:
# 有关于dataframe的索引值打印
data_frame_city = DataFrame(np.arange(16).reshape(4,4),index=['City1','City2','City3','City4',],columns=['Square1','Square2','Square3','Square4',])
data_frame_city

In [ ]:
# 对列也可以使用这种骚操作
data_frame_city.drop(columns=['Square1'])

#### 索引筛取与过滤

In [ ]:
data_standard = DataFrame(np.arange(16).reshape(4,4),index=['Ohio','Colorado','Utah','New York'],columns=['One','Two','Three','Four'])
data_standard

In [ ]:
data_standard[data_standard > 3 ]

In [ ]:
# 直接不通过我们的中括号来进行索引值的筛选的话，就会哦返回一个bool类型的DateFrame
data_standard_bool = data_standard < 5
# 可以进行赋值以留下我们所需要的数据

### 介绍一下我们的ix函数

In [ ]:
# 秒呀秒呀秒呀
# 这样就是实现了DataFrame的切片
data_standard.iloc[:3,1:4]

In [ ]:
data_standard._get_value(index='Ohio',col='One')
# 使用的是我们标准的索引值，而非内在索引值

#### DataFrame的索引选项
|类型|说明|
|:-|:-|
|obj[val]|选取一个DataFrame的单个列，或者一组列，在某些特殊情况下比较便利，如bool型数组，切片|
|obj.iloc[val]|选取特定列与行的int索引值，对其进行输出|
|get_value,set_value|根据行标签和列标签选取单个值|

#### 算数运算和数据对齐

In [ ]:
s1 = Series([7.3,-2.5,3.4,1.5],index=['a','c','d','e'])
s2 = Series([-2.1,-2.2,1.4,4.5,0.3],index=['a','c','e','f','g'])
# 同样的我们的DataFrame也可以使用这种操作用来做加减法，就有点想numpy里面的ufunc
s1 + s2

#### 在算数方法中填充值

In [ ]:
df1 = DataFrame(np.arange(12).reshape(3,4),columns=list("abcd"))
df2 = DataFrame(np.arange(16).reshape(4,4),columns=list("abed"))

In [ ]:
df1

In [ ]:
df2

In [ ]:
# 使用add函数可以进行加和函数
df1.add(df2,fill_value=0)

##### 灵活的算术方法
|方法|说明|
|:-|:-|
|add|用于加法|
|sub|用于减法|
|div|用于除法|
|mul|用于乘法（*）|

In [33]:
df1.reindex(columns=df2.columns,fill_value=0)

   a  b  e   d
0  0  1  0   3
1  4  5  0   7
2  8  9  0  11

In [39]:
df1.sub(df2,fill_value=0)
df1.mul(df2,fill_value=0)

      a     b    c      d    e
0   0.0   1.0  0.0    9.0  0.0
1  16.0  25.0  0.0   49.0  0.0
2  64.0  81.0  0.0  121.0  0.0
3   0.0   0.0  NaN    0.0  0.0

#### DataFrame 与 Series之间的一些运算法则

In [78]:
test_DataFrame  = DataFrame(np.arange(12).reshape(4,3),index=['a','b','c','d'],columns=['First','Second','Third'])
test_Series = test_DataFrame[:1]

In [73]:
test_DataFrame

   First  Second  Third
a      0       1      2
b      3       4      5
c      6       7      8
d      9      10     11

In [82]:
test_DataFrame.add(test_Series,fill_value=0)

   First  Second  Third
a    0.0     2.0    4.0
b    3.0     4.0    5.0
c    6.0     7.0    8.0
d    9.0    10.0   11.0

> 注意我们的版本变了，使用原来的ix函数直接行不通了，所以我们需要进行如下操作，将各个行的数字以DataFrame的格式保留，然后使用add等方法进行加和。

#### 函数的应用与映射

In [88]:
func_output = DataFrame(np.random.randn(4,4))
func_output
# 可以直接使用函数对每一个数值进行操作。

          0         1         2         3
0 -0.535933  0.465634  1.302091 -0.822090
1  0.136022  0.892795  0.840247 -0.651619
2  0.724285  0.700291  0.003647  0.071387
3 -1.834458 -0.173746  0.532491 -0.033163

In [89]:
np.sum(func_output)
# 行相加，得出值

0   -1.510084
1    1.884975
2    2.678477
3   -1.435485
dtype: float64

In [94]:
# 复习一下，我们说的axis=1 是指对行进行比较，而当axis=0时我们比较的是列向比，而且我们常用的是把每个feature——name相同的对象放在一起构成index，所以日常需要的是列向比较，如果非得使用这种比较的话我们采用axis换轴操作
func_output.apply(lambda x:x.max(),axis=1)

0    1.302091
1    0.892795
2    0.724285
3    0.532491
dtype: float64

In [98]:
func_output.applymap(lambda x:'%.2f'%x)
# 这样就实现了四舍五入，从而达到了相对简化的一个数据的功能

       0      1     2      3
0  -0.54   0.47  1.30  -0.82
1   0.14   0.89  0.84  -0.65
2   0.72   0.70  0.00   0.07
3  -1.83  -0.17  0.53  -0.03

#### 排序

In [111]:
test_Series_sort = Series(np.arange(4),index=['a','c','b','d'])
# sort_index()函数是针对我们的index进行排列的东西
test_Series_sort.sort_index()

a    0
b    2
c    1
d    3
dtype: int32

In [112]:
# 使用对值的排序是针对我们的每个列的数字的
func_output.sort_values(0)
# 当对象为Series时我们不需要by这个参数

          0         1         2         3
3 -1.834458 -0.173746  0.532491 -0.033163
0 -0.535933  0.465634  1.302091 -0.822090
1  0.136022  0.892795  0.840247 -0.651619
2  0.724285  0.700291  0.003647  0.071387

```python
# 这里的就是我们所有的参数了
DataFrame.sort_values(self,
					  by,
					  axis=0,
					  ascending=True,
					  inplace=False,
					  kind='quicksort',
					  na_position='last',
					  ignore_index=False)
```
ascending参数表示是否正排序
kind表示排序的方式
ignore_index表示是否忽略index的随之变化。

In [120]:
# rank函数
test_Series_rank = Series(np.arange(5))
test_Series_rank.rank(method='max',ascending=False)

0    5.0
1    4.0
2    3.0
3    2.0
4    1.0
dtype: float64

##### 排名时用于破坏平级关系的method选项：
|method|说明|
|:-|:-|
|average|默认，在相等分组里面，为各个值平均分配，平均排名|
|min|使用整个分组的最小排名|
|max|使用整个分组的最大排名|
|first|按值在原始数据中的出现的顺序分配排名|

#### 带有重复值的轴索引