## Pandas入门
> 我们对pandas的引入这样的规定，
```
import pandas as pd
from pandas imort Series,DataFrame
```
* 我们一般这么写pandas的引入。注意这是规定，为了方便你的理解。

### pandas的数据结构介绍：

#### Series
> Series是一类类似于一维数组的对象，它是由一组数据(各种numpy数据类型)以及一组与之相关联的数据标签，仅由一组数据即可产生最简单的Series

In [30]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [31]:
ser = Series(['a','b','c','d'])
ser.index = ('first','secend','third','fourth')
ser

first     a
secend    b
third     c
fourth    d
dtype: object

In [32]:
# 使用values函数可以实现值的访问
ser.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [33]:
# 使用index函数可以实现对于index的调用
ser.index

Index(['first', 'secend', 'third', 'fourth'], dtype='object')

In [34]:
ser_number = Series([1,2,3,-5,6,7],index=['a','b','c','d','e','f'])
ser_number

a    1
b    2
c    3
d   -5
e    6
f    7
dtype: int64

In [35]:
# 实现对特定元素的读取
# 对于元素的提取我们同样需要使用中括号给函数限定范围。以用来适合用。
ser_number[ser_number.values >= 0]

a    1
b    2
c    3
e    6
f    7
dtype: int64

In [36]:
# series数据类型之间的运算。
ser_number ** 20

a                    1
b              1048576
c           3486784401
d       95367431640625
e     3656158440062976
f    79792266297612001
dtype: int64

In [37]:
# 我们同样可以使用字典直接导入，为一个series
# 同样我们可以使用很多numpy中的函数。
# 可以说是非常的nice

### Dataframe

In [38]:
babyname = "c:\\users\\HP2\\PycharmProjects\\Python\\pydata-book-2nd-edition\\datasets\\babynames\\yob1880.txt"
open(babyname,encoding='UTF-8').readlines()

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\HP2\\PycharmProjects\\Python\\pydata-book-2nd-edition\\datasets\\babynames\\yob1880.txt'

In [ ]:
data = {'name':['huangxingjie','lisimao','oulaoula'],
        'ages':[18,19,77],
        'grene':['boy','boy','girl'],
       }
# 可以在构建dataframe内部应用这个index实现对每一个初始index赋值。
dataframe1 = DataFrame(data,index=['student1','student2','student3'])
dataframe1

In [ ]:
dataframe1['ages'][dataframe1['ages'] >= 19]

In [ ]:
# dataframe的切片任然可以使用只不过这里的是对列元素的切片。
dataframe1[:2]

In [ ]:
# 使用del语句可以指定列的删除。

In [ ]:
# 也可以使用转置方法实现另一个demension 的切片。

#### 可以输入给DataFrame构造器的数据
|类型|说明|
|:-|:-|
|二维ndarry|数据矩阵，还可以传入相关行列标|
|由数组列表元组构成的字典|每个序列将变成dataframe的一列，且每列的长度必须相同|
|numpy结构化/记录数组|类似于由数组构成的字典|
|由Series构成的字典|每个series将成为一列，如果没有显式索引，我们将把每一个索引叠加后成为统一的索引|
|由字典构成的字典|每个内层的字典为单独的一列|
|字典或者Series列表|各项将成为dataframe的一行，字典的key或者series的索引将合并为行标|
|由元组或者列表构成的列表|类似于二维adarry|
|另外一个dataframe|该dataframe的索引将继续被使用|
|numpy的maskedarray|类似于二维的nadarry，除了掩盖码会在dataframe中呈现为NaN的奇怪值|

### 索引对象
> dataframe的索引不可更改

#### pandas中主要的index对象：
|类|说明|
|:-|:-|
|Index|最泛化的Index对象，将轴标签表示为一个由Python对象组成的Numpy数组
|Index64Index|针对整数的特殊的index|
|MultiIndex|”层次化“索引对象，表示单个轴上的多层索引，可以看作由元组组成的数组|
|DatetimeIndex|储存纳秒级别的时间戳(用Numpy的datetime64类型表示)|
|PeriodIndex|针对Period数据(时间间隔)的特殊Index|

#### Index的方法和属性
|方法|说明|
|:-|:-|
|append|连接另外一个index对象，产生一个新的index|
|diff|计算差集|
|intersection|计算交集(这里可以针对一个数据集合之中的一些数据的feature_name进行筛选，从而得到一个比较共有的一个数据类，借由这个作出分析，或者是deepmind)|
|union|计算交集|
|# isin|计算一个指示各个值是否包含于参数集合中的布尔型数组|

##### 一些奇怪的算法

In [ ]:
obj  = Series([1,2,3,4,5,6],index=('a','b','c','d','e','f'),dtype='float')
index_obj = obj.index
# 可以发现我们使用的index是一个类似于列表的形式，我们甚至可以使用切片对这个进行处理。

In [ ]:
# 想一下，我们可以改变我们的index嘛我们试一下可不可以改变
# index_obj[1] = 'c'
# 所以我们不可以易更改我们的index值

In [ ]:
index = pd.Index(np.arange(3))
obj2 = Series([1,2,3],index=index)
obj2.index is index
# 这里的is语句我们可以直接使用来用以=判断是否这两个东西是完全一样的东西再来一个东西

In [ ]:
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([1,2,3,4,5])
arr1 is arr2
# 由此得之，我们的arr1与arr2完全不是一个东西，而是虽然相同但是其内核完全不同的东西，即所谓他们的地址不同，不是一个东西·

##### 针对于index的操作其实是为了让我们更加容易的找到我们所需要的数据名称，需要的是什么样的，什么是共有的数据

In [ ]:
# 我们也可以实现对于index 的重构，虽然无法对某一个index进行改变

In [ ]:
obj2 = obj2.reindex(['a','c','b'])
obj2.index

In [ ]:
obj3 = Series(['blue','purple','yellow'],index=[0,2,4])
obj3.reindex(range(6),method='ffill')

### reindex的(插值)method选项
|参数|说明|
|:-|:-|
|ffill或者pad|前向填充(或者搬运)值|
|bfill或者##backfill|向后填充或者搬运|

In [ ]:
frame = DataFrame(np.arange(9).reshape(3,3),index=['a','c','d'],columns=['Ohio','Texas','California'])

In [ ]:
frame.reindex(['a','b','c','d'])
frame

In [ ]:
states = ['Ohio','Utah','California']
# 可以发现这里的列向有一列啥数据都没有，所以我们计算机给他附上NaN的值，代表它啥也不是。
frame.reindex(columns=states)

In [ ]:
# 当然我们还哦可以使用这个ix函数来直接给index和column赋值老改变数据类型

##### reindex函数的参数
|参数|说明|
|:-|:-|
|index|用作于输入数据的index索引值的确切数值|
|method|插值(填充)方式|
|fill_value|在重新索引的过程中，需要引入缺失值时的替代值|
|limit|向前或者向后填充时的最大填充量|
|level|在MultiIndex的指定级别上匹配简单的索引，否则取子集|
|copy|默认为True，无论如何都赋值，如果为False，则此时新旧不相等就停止复制|

#### reindex函数的一些内涵：

In [ ]:
test_reindex = Series([1,2,3,4,5],index=['a','b','c','d','e'])
new_index = ['a','b','c','d','e','z']
test_reindex.reindex(index=new_index)
# 看到我们更新之后发现数据多了一行而且是空的

In [ ]:
# 我们来给那个值附上一个值
test_reindex.reindex(fill_value=1,index=new_index)

In [ ]:
test_reindex_limit = Series(['a','b','c','d'],index=[0,2,4,8])

#### 丢弃指定轴上的项
> 使用的是drop函数进行操作

In [ ]:
obj4 = Series(np.arange(5.),index=['a','b','c','d','e'])
# 可以这么使用，我们在drop函数里面加上我们的index索引值，或者在drop里面直接加上所选index列表切片就可以实现对指定的东西的切割提取

In [ ]:
obj4.drop(obj4.index[1:4])
# 非常有意思，花里胡商的

In [ ]:
# 有关于dataframe的索引值打印
data_frame_city = DataFrame(np.arange(16).reshape(4,4),index=['City1','City2','City3','City4',],columns=['Square1','Square2','Square3','Square4',])
data_frame_city

In [ ]:
# 对列也可以使用这种骚操作
data_frame_city.drop(columns=['Square1'])

#### 索引筛取与过滤

In [ ]:
data_standard = DataFrame(np.arange(16).reshape(4,4),index=['Ohio','Colorado','Utah','New York'],columns=['One','Two','Three','Four'])
data_standard

In [ ]:
data_standard[data_standard > 3 ]

In [ ]:
# 直接不通过我们的中括号来进行索引值的筛选的话，就会哦返回一个bool类型的DateFrame
data_standard_bool = data_standard < 5
# 可以进行赋值以留下我们所需要的数据

### 介绍一下我们的ix函数

In [ ]:
# 秒呀秒呀秒呀
# 这样就是实现了DataFrame的切片
data_standard.iloc[:3,1:4]

In [ ]:
data_standard._get_value(index='Ohio',col='One')
# 使用的是我们标准的索引值，而非内在索引值

#### DataFrame的索引选项
|类型|说明|
|:-|:-|
|obj[val]|选取一个DataFrame的单个列，或者一组列，在某些特殊情况下比较便利，如bool型数组，切片|
|obj.iloc[val]|选取特定列与行的int索引值，对其进行输出|
|get_value,set_value|根据行标签和列标签选取单个值|

#### 算数运算和数据对齐

In [ ]:
s1 = Series([7.3,-2.5,3.4,1.5],index=['a','c','d','e'])
s2 = Series([-2.1,-2.2,1.4,4.5,0.3],index=['a','c','e','f','g'])
# 同样的我们的DataFrame也可以使用这种操作用来做加减法，就有点想numpy里面的ufunc
s1 + s2

#### 在算数方法中填充值

In [ ]:
df1 = DataFrame(np.arange(12).reshape(3,4),columns=list("abcd"))
df2 = DataFrame(np.arange(16).reshape(4,4),columns=list("abed"))

In [ ]:
df1

In [ ]:
df2

In [ ]:
# 使用add函数可以进行加和函数
df1.add(df2,fill_value=0)

##### 灵活的算术方法
|方法|说明|
|:-|:-|
|add|用于加法|
|sub|用于减法|
|div|用于除法|
|mul|用于乘法（*）|

In [ ]:
df1.reindex(columns=df2.columns,fill_value=0)

In [ ]:
df1.sub(df2,fill_value=0)
df1.mul(df2,fill_value=0)

#### DataFrame 与 Series之间的一些运算法则

In [ ]:
test_DataFrame  = DataFrame(np.arange(12).reshape(4,3),index=['a','b','c','d'],columns=['First','Second','Third'])
test_Series = test_DataFrame[:1]

In [ ]:
test_DataFrame

In [ ]:
test_DataFrame.add(test_Series,fill_value=0)

> 注意我们的版本变了，使用原来的ix函数直接行不通了，所以我们需要进行如下操作，将各个行的数字以DataFrame的格式保留，然后使用add等方法进行加和。

#### 函数的应用与映射

In [ ]:
func_output = DataFrame(np.random.randn(4,4))
func_output
# 可以直接使用函数对每一个数值进行操作。

In [ ]:
np.sum(func_output)
# 行相加，得出值

In [ ]:
# 复习一下，我们说的axis=1 是指对行进行比较，而当axis=0时我们比较的是列向比，而且我们常用的是把每个feature——name相同的对象放在一起构成index，所以日常需要的是列向比较，如果非得使用这种比较的话我们采用axis换轴操作
func_output.apply(lambda x:x.max(),axis=1)

In [ ]:
func_output.applymap(lambda x:'%.2f'%x)
# 这样就实现了四舍五入，从而达到了相对简化的一个数据的功能

#### 排序

In [ ]:
test_Series_sort = Series(np.arange(4),index=['a','c','b','d'])
# sort_index()函数是针对我们的index进行排列的东西
test_Series_sort.sort_index()

In [ ]:
# 使用对值的排序是针对我们的每个列的数字的
func_output.sort_values(0)
# 当对象为Series时我们不需要by这个参数

```python
# 这里的就是我们所有的参数了
DataFrame.sort_values(self,
					  by,
					  axis=0,
					  ascending=True,
					  inplace=False,
					  kind='quicksort',
					  na_position='last',
					  ignore_index=False)
```
ascending参数表示是否正排序
kind表示排序的方式
ignore_index表示是否忽略index的随之变化。

In [ ]:
# rank函数
test_Series_rank = Series(np.arange(5))
test_Series_rank.rank(method='max',ascending=False)

##### 排名时用于破坏平级关系的method选项：
|method|说明|
|:-|:-|
|average|默认，在相等分组里面，为各个值平均分配，平均排名|
|min|使用整个分组的最小排名|
|max|使用整个分组的最大排名|
|first|按值在原始数据中的出现的顺序分配排名|

#### 带有重复值的轴索引

In [43]:
obj5 = Series(range(5),index=['a','a','c','c','e'])
obj5['a']
# 有重复索引值时，我们会把所用的索引值全部打印出来

a    0
a    1
dtype: int64

In [47]:
obj5.index.is_unique
# 返回值是一个False所以我们知道，这里的index并不是唯一不重复的，而是有重复的index
# 对于dataframe也是如此

False

#### 汇总和计算描述统计

In [53]:
df3 =DataFrame([[1.4,np.nan],[7.1,-4.5],
               [np.nan,np.nan],[0.75,-1.3]],
               index=['a','b','c','d'],
               columns=['one','two']
               )
df3

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [63]:
df3.sum(axis=1,skipna=False)
# 按列向加和
# axis切换后我梦可以实现横向汇总
# skipna是否补全缺失值，如果为True则会补上0.0作为缺失值的值，如果确实值不想补全，那我们将会返回一个NaN作为缺失值
# level如果轴是层次化索引的，则根据level进行分组

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [67]:
df3.idxmax()
# 返回值类型是一个Series类型的数组，当我们返回的时后，会根据对应列的元素的大小，返回输出一个具有该元素索引的Series表

one    b
two    d
dtype: object

In [69]:
df3.idxmin()
# 当然这个也是一样，只不过返回的是一个更小的值

one    d
two    b
dtype: object

In [73]:
df3.cumsum()
# 默认为列向累加和，把对应的元素放在对应位置上，很好理解，同样的，我们使用axis参数进行调节后，可实现对于列向量的元素的累加

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [77]:
df3.T.describe()
# 可以看到我们的DataFrame的一些详细信息，有关平均值，最大值，最小值，etc
# 注意我们没权利使用行统计，也就是说我们无法使用axis=1变换行列
# 但是，我们可以使用。T或者说方法实现对行的统计

         a         b    c         d
count  1.0  2.000000  0.0  2.000000
mean   1.4  1.300000  NaN -0.275000
std    NaN  8.202439  NaN  1.449569
min    1.4 -4.500000  NaN -1.300000
25%    1.4 -1.600000  NaN -0.787500
50%    1.4  1.300000  NaN -0.275000
75%    1.4  4.200000  NaN  0.237500
max    1.4  7.100000  NaN  0.750000

##### 描述与汇总统计函数
|方法|说明|
|:-:|:-|
|count|非NA的值的数量|
|describe|针对Series或者DataFrame列的汇总统计|
|min,max|计算最大值，最小值|
|argmin.argmax|计算能够获得的最大值和最小值的索引位置|
|idxmin，idxmax|计算能够获得最大值或者最小值的索引位置|
|quantile|计算样本的分位数(0~1)|
|sum|值的求和|
|mean|值的平均值|
|median|值的算数中位数（50%分位数）|
|mad|根据平均值计算平均绝对离差|
|var|样本值的方差|
|std|样本值的标准差|
|skew|样本值的偏度(三阶矩)|
|kurt|样本值的峰度(四阶矩)|
|cumsum|梯度求和|
|cummin，cummax|样本值的累计最大值，和累记最小值|
|cumprod|样本值的累计积|
|diff|计算一阶差分(对时间序列很有用)|
|pct_change|计算百分比变化|

#### 相关系数和协方差

In [78]:
import pandas_datareader

all_data = {}
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data['ticker'] = web.get_data_yahoo(ticker,'1/1/2000','1/1/2010')

ModuleNotFoundError: No module named 'pandas_datareader'

#### 唯一值，值计数，以及成员的资格

In [80]:
obj6 = Series(['a','b','c','c','e','f','e','a'])
# 这个unique方法可以找到所用的独一无儿的值，非常方便，有点像set函数，就是那个集合函数
obj6.unique()

array(['a', 'b', 'c', 'e', 'f'], dtype=object)

In [82]:
obj6.value_counts()
# 统计出现次数的函数

a    2
e    2
c    2
f    1
b    1
dtype: int64

In [87]:
pd.value_counts(obj6.values,sort=True)
# 同样的我们可以使用pandas自带的values函数进行统计，也可以使用Class<Series>类里面的函数进行value_count

a    2
e    2
c    2
f    1
b    1
dtype: int64

In [91]:
obj6.isin(['a'])
# 这个函数有点像那个if语句的意思了，我们通过这个语句的判断返回了一个bool类型的Series数组，告诉我们包含的返回True

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

#### 处理缺失数据(missing data)

In [99]:
obj7 = Series(['huangxingjie','lisimao','alipla',np.nan,'oulaoula',])
obj7.isnull()
# 字面理解很好懂
# None也可以被当作NA处理

0    False
1    False
2    False
3     True
4    False
dtype: bool

##### NA的处理方法
|方法|说明|
|:-|:-|
|dropna|根据各个标签值中是否存在缺失值数据对轴标签进行标签过滤，可通过阈值调节对缺失值的容忍度|
|fillna|用指定值或者插值的方法(如ffill或者bfill)填充数据|
|isnull|判断是不是null，返回值任然是一个Series或者是DataFrame的数据结构|
|notnull|isnull的否定形式|

#### 滤除缺失数据

In [102]:
from numpy import nan as NA
data_na = Series([1,NA,3.5,NA,7])
data_na

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [104]:
data_na.dropna()
# 抛弃了那些标有na的值

0    1.0
2    3.5
4    7.0
dtype: float64

In [105]:
# 也可以通过bool类型的索引值来实现

#### 填充缺失的数据(\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*)

In [119]:
df4 = DataFrame(np.random.randn(5,5))
df4

          0         1         2         3         4
0 -0.234987 -0.181331 -0.171360 -1.852412  1.458073
1  0.898420 -0.467784 -0.652583  0.576650 -0.463199
2  2.899147  2.043690 -1.189726 -0.253047 -1.226623
3  0.167628  0.343452  0.275498 -3.519428 -0.422354
4  0.135648  1.595172 -1.520161  0.980285 -1.277698

In [123]:
df4.iloc[:1,2:] = NA
df4.iloc[4:,3:] = NA
df4

          0         1         2         3         4
0 -0.234987 -0.181331       NaN       NaN       NaN
1  0.898420 -0.467784 -0.652583  0.576650 -0.463199
2  2.899147  2.043690 -1.189726 -0.253047 -1.226623
3  0.167628  0.343452  0.275498 -3.519428 -0.422354
4  0.135648  1.595172 -1.520161       NaN       NaN

In [124]:
df4.fillna(value=0)
# 使用value参数实现对于缺失值的赋值
# 你可以用这个东西玩很多花样出来，比如放个平均数啥的

          0         1         2         3         4
0 -0.234987 -0.181331  0.000000  0.000000  0.000000
1  0.898420 -0.467784 -0.652583  0.576650 -0.463199
2  2.899147  2.043690 -1.189726 -0.253047 -1.226623
3  0.167628  0.343452  0.275498 -3.519428 -0.422354
4  0.135648  1.595172 -1.520161  0.000000  0.000000